<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Mairies</string>
		<key>mnemo</key>
		<string>MO-MAIRIE</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_townhall_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_townhall_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Pizzerias</string>
		<key>mnemo</key>
		<string>MO-PIZZE</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_pizzeria_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_pizzeria_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Dentistes</string>
		<key>mnemo</key>
		<string>MO-DENTI</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_dentist_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_dentist_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Fleuristes</string>
		<key>mnemo</key>
		<string>MO-FLEUR</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_florist_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_florist_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Restaurants</string>
		<key>mnemo</key>
		<string>MO-RESTO</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_restaurant_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_restaurant_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Taxis</string>
		<key>mnemo</key>
		<string>MO-TAXI</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_taxi_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_taxi_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Hôtels</string>
		<key>mnemo</key>
		<string>MO-HOTEL</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_hostel_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_hostel_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>type</key>
		<integer>2</integer>
		<key>label</key>
		<string>Bons Plans</string>
		<key>mnemo</key>
		<string>MA-B2C</string>
		<key>backgroundColor</key>
		<string>227,54,136</string>
		<key>backgroundSelectedColor</key>
		<string>21,125,251</string>
		<key>image</key>
		<string>HP_promo_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_promo_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Cafés/bars</string>
		<key>mnemo</key>
		<string>MO-CAFES</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_bars_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_bars_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Stations-service</string>
		<key>mnemo</key>
		<string>MO-ESSEN</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_gazstation_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_gazstation_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>6</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Coiffeurs</string>
		<key>mnemo</key>
		<string>MO-COIFF</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_hairdresser_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_hairdresser_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>7</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Médecins</string>
		<key>mnemo</key>
		<string>MO-MEDEC</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_doctor_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_doctor_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>8</integer>
		<key>type</key>
		<integer>3</integer>
		<key>label</key>
		<string>Les mieux notés</string>
		<key>mnemo</key>
		<string>MA-B2C</string>
		<key>backgroundColor</key>
		<string>109,171,255</string>
		<key>backgroundSelectedColor</key>
		<string>21,125,251</string>
		<key>image</key>
		<string>HP_best_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_best_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>9</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Hôpitaux</string>
		<key>mnemo</key>
		<string>MO-HOPIT</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_hospital_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_hospital_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
	<dict>
		<key>index</key>
		<integer>10</integer>
		<key>type</key>
		<integer>1</integer>
		<key>label</key>
		<string>Pharmacies</string>
		<key>mnemo</key>
		<string>MO-PHARMA</string>
		<key>backgroundColor</key>
		<string></string>
		<key>backgroundSelectedColor</key>
		<string></string>
		<key>image</key>
		<string>HP_drugstore_enabled.png</string>
		<key>imageSelected</key>
		<string>HP_drugstore_selected.png</string>
		<key>labelColor</key>
		<string></string>
		<key>labelSelectedColor</key>
		<string></string>
	</dict>
</array>
</plist>
